.pokemon {
  font-weight: weight(bold);
  color: $primary-color;
  display: flex;
  gap: 0.5rem;
  background: $white-color;
  border: 1px solid $text-title-color;
  padding: 0.5rem 1rem;
  border-radius: radius(regular);
  max-width: 25rem;


  &-img {
    width: 10rem;

    img {
      max-width: 100%;
      height: auto
    }

  }


  .pokemon-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .species-header {
      h1 {
        cursor: pointer;
        @include resize(fs-h1);
      }

      h2 {
        @include resize(fs-h2);
      }

      .species-title {
        color: $text-body-color;
      }
    }


    .species {
      color: $text-title-color;
      display: flex;
      justify-content: center;
      gap: 1rem;
      @include resize(fs-icon);

      .active {
        color: $primary-color;
      }
    }
  }
}

.pokemon:hover {
  border-color: $primary-color;
}