.pokemon {
  font-weight: weight(bold);
  color: $primary-color;
  display: flex;
  gap: 0.5rem;
  background: $white-color;
  border: 1px solid $text-title-color;
  height: 168px;
  padding: 0.5rem 1rem;
  border-radius: radius(regular);
  cursor: pointer;
  max-width: 20rem;

  img {
    width: 9.375rem;
    height: auto
  }

  .pokemon-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .species-header {
      h2 {
        @include resize(fs-h2);
      }

      h3 {
        @include resize(fs-h3);
      }

      .species-title {
        color: $text-body-color;
      }
    }


    .species {
      color: $text-title-color;
      display: flex;
      gap: 1rem;
      @include resize(fs-icon);

      .active {
        color: $primary-color;
      }
    }
  }
}

.pokemon:hover {
  border-color: $primary-color;
}