@include media-md {
  .pokemon {
    padding: 1rem;
    gap: 1rem;
  }

}

@include media-lg {}

@include media-xxl {
  .pokemon {
    max-width: 22rem;

    &-details {
      gap: 1rem;
      justify-content: normal;
    }
  }

  .button-search {
    padding: 0.5rem 1rem;
    width: 10rem;

    .button-content {
      img {
        width: 1.5rem;
        height: auto;
      }
    }
  }

  .content-header {
    .searchPokemon {
      .btn-wrapper {
        gap: 1.5rem;
        margin: 1.5rem auto 0;
      }
    }
  }
}