@include media-md {
  .pokemon {
    padding: 1rem;
    gap: 1rem;
  }

}

@include media-lg {
  .pokemon {
    &-img {
      width: 15rem;
    }
  }

  .pokemon-details {
    .details {
      .container {
        .card {
          &-dis {
            .action-btns {
              justify-content: normal;
              gap: 3rem;
            }
          }
        }
      }
    }
  }
}


@include media-xxl {

  .button-search {
    padding: 0.5rem 1rem;
    width: 10rem;

    .button-content {
      img {
        width: 1.5rem;
        height: auto;
      }
    }
  }

  .content-header {
    .searchPokemon {
      .btn-wrapper {
        gap: 1.5rem;
        margin: 1.5rem auto 0;
      }
    }
  }

  .pokemon-details {
    .details {
      .container {
        .card {
          justify-content: center;
          gap: 5rem
        }
      }
    }
  }
}