// STUB: font
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// STUB: colors
$primary-color: #A6131E;
$secondary-color: hsl(0, 0%, 98%);
$text-title-color: #e2e2e2;
$text-body-color: #8a8a8a;
$header-color: #cf2835;
$background-color: #F8F5F9;


// STUB: border radius
$border-radii: (
  'regular': 0.125rem,
  'small': 0.063rem,
  'circle': 50%
);

// STUB: font size
$font-sizes: (
  'fs-h1': 3rem,
  'fs-h2': 2.2rem,
  'fs-h3': 1.5rem,
  'fs-p': 1.1rem,

);

// STUB: font weight
$font-weights: (
  // 'regular': 400,
  // 'medium': 700,
  'bold': bold,
);